/* 文字コード */
@charset "utf-8";

/* デフォルトのクリア */
body {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}


a {
    text-decoration: none;
    color: black;
}


/* ヘッダー */
header {
    height: 100px;
    background-color: rgba(137, 218, 89, 0.7);
    position: fixed;
    width: 100%;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.header-logo {
    float: left;
    font-size: 45px;
}

.nav-bar {
    float: right;
}

.nav-item {
    float: left;
    border-left: 7px solid rgb(137, 218, 89);
    padding: 0 30px;
    margin-top: 40px;
    font-size: 20px;
}

.nav-item:hover {
    border-bottom: 2px solid #80bd9e;
}

/* wrap */
.wrap {
    clear: both;
}

.langicon{
    float:left;
}
.langicon a img{
    height:50px;
}
#works{
    clear:both;
}
/* フッター */
footer {
    height: 80px;
    background-color: #f98866;
}


.footer-menu {
    font-size: 20px;
    float: right;
}

.footer-menu-item {
    margin: 0px;
    float: left;
    padding: 0 20px;
    opacity: 0.4;
}

.footer-menu-item:hover {
    opacity: 1;
}

.copyright {
    clear: both;
    opacity: 0.7;
    font-size: 15px;
    text-align: center;
    padding-top: 25px;
}
